.toolo4 {
    position: relative;
    width: 100%;
}

.container4 {
    position: absolute;
    top: 0;
    margin: 0 auto;
    left: 0;
    right: 0; /* Διασφαλίζει ότι το πλάτος θα προσαρμοστεί */
    max-width: 1100px;
    width: 100%; /* Καταλαμβάνει το 100% του διαθέσιμου πλάτους του γονέα */
    z-index: 200;
}


.waves4 {
    z-index: 5;
}

[data-theme="dark"] {
    .back {
        color: white;
    }

    .center img {
        border: 2px solid lightgray;
    }

    .tapdfs p {
        color: white;
    }

    .tatxts p {
        color: white;
    }

    .toIframe {
        background-color: white;
        border-radius: 10px;
    }

    .ligopanw {
            text-shadow: -1px -1px 0 black,  
            1px -1px 0 black,  
            -1px 1px 0 black,  
            1px 1px 0 black;
    }

    .center {
        text-shadow: -1px -1px 0 black,  
        1px -1px 0 black,  
        -1px 1px 0 black,  
        1px 1px 0 black;
    }

    .Sigr-date-Katigoria {
        text-shadow: -1px -1px 0 black,  
        1px -1px 0 black,  
        -1px 1px 0 black,  
        1px 1px 0 black;     
    }
}

.back {
    display: flex;
    color: black;
}

.back p{
    font-weight: 600;
    font-size: 18px;
    margin-top: 0px;
    margin-left: 0px;
}

.Sigr-date-Katigoria {
    display: block;
    text-align: right;
    flex-direction: column;
}

.center img {
    border: 2px solid darkgray;
    border-radius: 10px;
}

.summary {
    font-size: 20px;
    font-weight: bold;
}

.tokeimeno {
    font-size: 19px;
}

.todivmetaa1 {
    display: block;
    text-align: left;
    font-size: 20px;
}

.blog-post_cta {
    text-align: center;
}

.todivmetaa1 a {
    margin-right: 20px;

}

.waves4 {
    z-index: 5;
}

.paneligopanw {
    padding: 20px;
    margin-top: 20px;
}

.back p {
    margin-top: -5px;
}

.imageMesa {
    width: 60%;
}

.videoMesa {
    width: 60%;
    max-height: 600px;
    border-radius: 10px;
}

.blog-post_ctaP {
    width: 100%;
    height: 30px;
    display: block;
    font-size: 18px;
    margin-top: 20px;
}

.tapdfs {
    display: flex;
    padding: 0px;
}

.tapdfs p {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    white-space: nowrap; /* Εμποδίζει τη γραμμή από το να τυλίγεται */
    overflow: hidden; /* Κρύβει το περιεχόμενο που περισσεύει */
    text-overflow: ellipsis; /* Προσθέτει τα αποσιωπητικά (...) */
}

.tatxts {
    display: flex;
    padding: 0px;
}

.tatxts p {
    margin-top: 0px;
    margin-left: 10px;
    color: black;
    white-space: nowrap; /* Εμποδίζει τη γραμμή από το να τυλίγεται */
    overflow: hidden; /* Κρύβει το περιεχόμενο που περισσεύει */
    text-overflow: ellipsis; /* Προσθέτει τα αποσιωπητικά (...) */
}

.todivmeimages {
    width: 30px;
    height: 30px;
  }

  .toIframe {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 0px;
}
  

.toIframePdf {
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px;
    height: 100vh;
    margin-bottom: 20px;
}

/* Κανόνες CSS για tablet */
@media (min-width: 601px) and (max-width: 768px) {
    .container4 {
        width: 100%;
        margin-left: 0%;
        max-width: 1100px;
        margin: 0 auto;
        min-height: 100vh;
}

.center img {
    width: 90%;
}

.pdfsOnMobile{
    display: none;
}

}

/* Κανόνες CSS για κινητά */
@media (max-width: 600px) {
    .container4 {
        width: 100%;
        margin-left: 0%;
        max-width: 1100px;
        margin: 0 auto;

        min-height: 100vh;
}

.center img {
    width: 90%;
}

.pdfsOnMobile{
    display: none;
}

.imageMesa {
    width: 100%;
}

.videoMesa { 
    width: 100%;
}

.todivmeimages {
    width: 20px;
    height: 20px;
  }

  .toIframe {
    padding: 5px;
}

}
  
