.about {
        color: black;
    margin: 0 auto;
    max-width: 800px;
}

.aboutMeimgdiv {
    text-align: center;
}

.aboutMeimgdiv img {
    width: 30%;
    border-radius: 10px;
    border: 2px solid black;
}

.aboutMeText {
    margin-top: 40px;
    font-size: 18px;
}

  @media (max-width: 768px) {

    .about {
        padding: 0 10px;
}
    .aboutMeimgdiv img {
        width: 50%;
    }

    .aboutMeText {
        margin-top: 20px;
    }

  }