.Contact {
    color: black;
    margin: 0 auto;
    max-width: 1100px;
}

.pgpKey {
    text-align: center;
        margin: 0 auto;
    max-width: 900px;
}

  @media (max-width: 768px) {

    .Contact {
        padding: 0 10px;
    }

 .pgpKey p {
  text-align: center;
  margin: 0;
  width: 100%;
  /* εξασφαλίζει ότι επιτρέπεται το wrapping */
  white-space: normal;
  /* παλιότερη σύνταξη, αλλά ακόμα διαδεδομένη */
  word-wrap: break-word;
  /* νεότερη, προτεινόμενη σύνταξη */
  overflow-wrap: break-word;
  /* (προαιρετικά) σπάει ακόμα και μέσα στη λέξη */
  word-break: break-all;
  /* (προαιρετικά) προσθέτει αυτόματα παύλες όπου προβλέπεται */
  hyphens: auto;
}

  }