.headerOut {
    border-bottom: none;
  }
  
  .headerOutmesa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    font-size: 17px;
    height: 60px;
    top: 0;
    z-index: 1000; 
    padding: 0px 30px;
    max-width: 1250px;
    margin:0 auto;
  }
  
  .toaristera {
    font-weight: 700;
    cursor: pointer;
    width: 4%;
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-top: -5px;
  }
  
  .tadeksia {
    margin-top: -5px;
    display: flex;
    align-items: left;
    text-decoration: none;
    gap: 10px;
    transition: all 0.3s ease;
  }
  
  .tolinkdeks {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-left: 15px;
    color: black;
    text-decoration: none;
  }
  
  .tolinkdeks:hover {
    color: rgb(58, 58, 58);
  
  }

  .logoImg {
    width: 50px;
  }

  .headIcons {
    width: 20px;
  }
  
 /* Κρύβουμε τα spans για κινητά */
@media (max-width: 768px) {
      
  .headerOutmesa {
    padding: 0px 10px;
  }

  .header {
    background-color: white;
    padding: 0 0px;
    height: 50px;
  }
  
  .header.open {
    background-color: #333;
    color: white;
  }

  .toaristera {
    width: 15%;
  }

  .tadeksia {
    position: fixed;
    top: 70px; /* κάτω από το header */
    left: 0;
    width: 100%;
    height: calc(100vh - 70px); /* όλο το ύψος κάτω από το header */
    flex-direction: column;
    background-color: #ffffff;
    align-items: flex-start;
    z-index: 1000; 

    /* Animation αρχική κατάσταση */
    opacity: 0;
    transform: translateY(30px);
    pointer-events: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .tolinkdeks {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  
  .tolinkdeks::after {
    display: none;
  }

  .tolinkdeks:hover {
    color: rgb(0, 0, 0);
  }

  /* Όταν ανοίγει το menu */
  .tadeksia.open {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .tolinkdeks {
    margin-top: 20px;
    padding: 0px 10px;
  }

  .burger {
    margin-top: 0px;
    display: block;
    cursor: pointer;
  }

  .burger .line {
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
    transition: all 0.3s ease;
  }

  .burger .line.open:nth-child(1) {
    background-color: rgb(0, 0, 0);
    transform: rotate(45deg) translate(7px, 5px);
  }

  .burger .line.open:nth-child(2) {
    background-color: rgb(0, 0, 0);
    opacity: 0;
  }

  .burger .line.open:nth-child(3) {
    background-color: rgb(0, 0, 0);
    transform: rotate(-45deg) translate(6px, -5px);
  }

  .tadeksia span {
    margin-left: 0;
    margin-top: 10px;
  }
}

/* Απόκρυψη του burger menu στις μεγάλες οθόνες */
@media (min-width: 769px) {
  .burger {
    display: none;
  }
}