.Uni {
    color: black;
    margin: 0 auto;
    max-width: 1100px;
}

.fakeloi {
    padding: 10px 0px;
}

.fakelos {
    display: flex;
    align-items: center;
}

.fakelos p {
    text-decoration: underline;
    cursor: pointer;
}

.fakelos img {
    width: 30px;
    margin-right: 10px;
}

.taPdfs {
    display: block;
    padding: 10px 0;
}

.taPdfs img {
    margin-top: 0px;
    width: 30px;
    margin-right: 10px;
}

.pdf {
    padding: 5px 0px;
}

.pdf img {
    width: 25px;
}


/* Responsive */
@media (max-width: 768px) {
.Uni {
  padding: 0 10px;
}
}